.content {
  padding: 20px
}

.scrollbox {
  max-height: 500px;
  min-height: 500px;
  overflow-y: auto;
}

.link {
  text-decoration: underline;
}

.hide {
  display: none;
}

.input:focus {
  outline: #646c9a;
}